@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}
<main>

    <header>
        <div class="breadcrumbs">
            <a href="#0/">Good Morning</a>
        </div>

        <h1 class="title">Hello Mr.Mark</h1>

        <nav class="nav-tabs" id="nav-tabs">
            <a href="#0">
               Building details
            </a>

            <a href="#0" class="active">
                Rented
                <span>14</span>
            </a>

            <a href="#0">
                Available
                <span>24</span>
            </a>
           
        </nav>
    </header>


    <div class="content-columns">

        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>

    </div>

</main> 