@{
    ViewData["Title"] = "Add Service";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#" class="text-secondary">Home</a></li>
                                <li class="breadcrumb-item active">Add Service</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content mb-3">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Service</h3>
                    </div>
                    <form asp-action="Create" asp-controller="Service" enctype="multipart/form-data">

                        <partial name="PartialViews/CreateUpdatePartialView" />

                        <div class="mt-5 mx-3 mb-3">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            <a class="btn btn-dark" asp-action="Details">Back To List</a>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.content -->
        </div>
    </div>

</div>