
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.PL.styles.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
<div class="site-wrap">

    @* <nav class="site-nav">

        <div class="name">
            Pepper

    
        </div>

        <ul>
            <li class="active">
                <a href="#">Owner</a>
                <ul>
                    <li><a href="#0">Profile</a></li>
                    <li><a href="#0">Contact</a></li>
                   
                </ul>
            </li>
            <br />
            
                <li class="active">
                     <a href="#" >Renters</a> 
                    <ul>
                        
                        <li><a href="#0">View All</a></li>
                        <li><a href="#0">Add</a></li>
                        <li><a href="#0">Pipeline</a></li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#">Services</a>
                    <ul>
                        <li><a href="#0">Services</a></li>
                        <li><a href="#0">Requested</a></li>
                        <li><a href="#0">Add service</a></li>
                    </ul>
                </li>

            
            <li><a href="#0">Apartment</a></li>
        </ul>

   

    </nav> *@

        <section id="menu">
            <div class="container">
                <div class="menubar">
                    <nav class="navbar navbar-default">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/images/logo/logo.png" alt="logo">
                            </a>
                        </div><!--/.navbar-header -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="project.html">Project</a></li>


                                <li><a href="team.html">Team</a></li>

                                <li class="dropdown">
                                    <a class="btn  dropdown-toggle"
                                       type="button"
                                       id="dropdownMenuButton"
                                       data-mdb-toggle="dropdown"
                                       aria-expanded="false">
                                        Dropdown link
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item " href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>


                                </li>



                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li>
                                    <a href="#">
                                        <span class="lnr lnr-cart"></span>
                                    </a>
                                </li>
                                <li class="search">
                                    <form action="">
                                        <input type="text" name="search" placeholder="Search....">
                                        <a href="#">
                                            <span class="lnr lnr-magnifier"></span>
                                        </a>
                                    </form>
                                </li>
                            </ul><!-- / ul -->
                        </div><!-- /.navbar-collapse -->
                    </nav><!--/nav -->
                </div><!--/.menubar -->
            </div><!-- /.container -->

        </section><!--/#menu-->
        <!--menu end-->
        <main>

        @RenderBody()
        </main>
      
        

</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>

    const navTabs = document.querySelectorAll("#nav-tabs > a");
     navTabs.forEach((tab) => {

    tab.addEventListener("click", () => {
    navTabs.forEach((tab) => {
      tab.classList.remove("active");
      });
    tab.classList.add("active");
      });


});


   </script>

</body>
</html>